.slide .pics-layer {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide .pics-layer .pics {
    transition: 1s;
}
.slide .pics-layer .pics img {
    transition: 1s;
}
.slide .pics-layer .strs {
    position: absolute;
    width: 100%;
    height: 100%
}
.slide .pics-layer .strs .linker {
    position: absolute;
    width: 100%;
    height: calc(100% - 23px);
}
.slide .pics-layer .strs .showbar {
    position: absolute;
    width: 100%;
    background-color: rgba(43,43,43,.38);
    color: #EEEE00;
    text-decoration: none;
}
.slide .pics-layer .pagination {
    position: absolute;
    top: calc(100% - 23px);
}

.slide .pics-layer .pagination a {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #999999;
    background-color: rgba(255,255,255,.5);
    text-decoration: none;
    margin-right: 8px;
    text-align: center;
    line-height: 23px;
}
.slide .pics-layer .pagination a.active {
    background-color: rgba(255,102,0,.8);
    color: #FFFFFF;
}